<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Png字幕生成器1.0</title>
	<link rel="icon" type="image/png" sizes="32x32" href="./images/logo.png">
 	<link href="css/bootstrap.min.css" rel="stylesheet">
 	<style type="text/css">
 		.navbar{
 		 background: #673ab8;
  		  box-shadow: 0 0 5px rgba(0,0,0,.5); }
 			body{ background: #f4f5f5 }
 		.myBtn { 
 			background: #673ab8;
		 	box-shadow: 0 0 5px rgba(0,0,0,.5);color: white;
		 	font-weight: bold;
		    width: 180px;
		    letter-spacing:4px;
		    -webkit-transition: all 0.5s ease ;
		}
		.myBtn:hover {
			width: 210px;
		}
 	</style>
</head>
<body>
	<div id="root">
		<demo-app></demo-app>
	</div>
	
	<script type="text/x-template" id="app-template">

	<div class="container">
		<header class="navbar navbar-static-top bs-docs-nav" id="top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand" style="color: white;">
      	<img src="./images/QlogoHome.png" style="height: 40px;margin: -10px 0 0 -20px;">
  		</a>
    </div>
  </div>
</header>
		<div id="images" ref="canvasImg" style="display: none;"></div>
		<!-- show view -->
		<div class="panel panel-default">
		   <div class="panel-heading">
		 	预览效果图
		 	</div>
		  	<div class="panel-body" id="content"  style="height: 230px;">
					<!-- style1 -->
						<div v-show="zimuStyle === 1" style="box-sizing: border-box;width: 100%;height: 145px;background: url('images/bg.png') no-repeat 0 100%; position: relative;top: 50px;" >
						    <!-- 字幕标题 -->
							<div  v-drag  style="cursor:move;position: absolute;height: 65px;width: 100%;">
							    <div :style="{'line-height':'55px','padding-left':'280px',color:color,'font-size':'48px','font-family':fontFamily}">{{str}}</div> 
							</div>
							<!-- 字幕副标题 -->
							<div v-drag  style="cursor:move;position: absolute;top:58px;height: 35px;width: 100%;">
								 <div :style="{'line-height':'34px','padding-left':'280px',color:color2,'font-size':'28px','font-family':fontFamily}">{{str2}}</div> 
							</div>
							<!-- logo图片区域 -->
							<div v-drag style="cursor:move;position: absolute;width: 230px;height:155px;top:-55px;">
								
								<div class="center-block size" :style="{'line-height':'155px',width: '230px',height:'155px',
								'background-image': 'url('+ logo +') ','background-size':'145px 145px','background-position':'center center','background-repeat':'no-repeat'}" ></div>
		
							</div>
							<!-- 滚动字幕区域 -->
							<div style="line-height: 55px; font-size: 36px;position: absolute;top:93px;height: 55px;width: 100%;">
							</div>
		
						</div>	
				     <!-- style2 -->
				     	<div v-show="zimuStyle === 2" style="box-sizing: border-box;width: 100%;height: 145px;background: #666; position: relative" >
						    <!-- 字幕标题 -->
							<div style="position: absolute;height: 56px;width: 100%;background: #339988">
							    <div :style="{'padding-left':'280px',color:color,'font-size':'48px','font-family':fontFamily}">{{str}}</div> 
							</div>
							<!-- 字幕副标题 -->
							<div style="position: absolute;top:56px;height: 36px;width: 100%;background: rgb(134, 82, 82);">
								 <div :style="{'padding-left':'280px',color:color,'font-size':'28px','font-family':fontFamily}">{{str2}}</div> 
							</div>
							<!-- logo图片区域 -->
							<div style="position: absolute;width: 230px;height: 148px;background: #dedede;z-index:100">
								
								<div class="center-block size" :style="{'line-height':'148px',width: '230px',height:'148px','background-image': 'url('+logo+') ','background-size':'100px 100px','background-position':'center center','background-repeat':'no-repeat'}" ></div>
		
							</div>
							<!-- 滚动字幕区域 -->
							<div style="line-height: 55px; font-size: 36px;position: absolute;top:93px;height: 55px;width: 100%;background: rgb(160, 46, 85);">
							</div>
						</div>	
					<!-- style3 -->
						<div v-show="zimuStyle === 3" style="box-sizing: border-box;width: 100%;height: 145px;background: url('images/bg3.png') no-repeat 0 100%; position: relative;top: 100px;" >
						    <!-- 字幕标题 -->
							<div  v-drag  style="cursor:move;position: absolute;height: 65px;width: 100%;">
							    <div :style="{'line-height':'55px','padding-left':'280px',color:color,'font-size':'48px','font-family':fontFamily}">{{str}}</div> 
							</div>
							<!-- 字幕副标题 -->
							<div v-drag  style="cursor:move;position: absolute;top:58px;height: 35px;width: 100%;">
								 <div :style="{'line-height':'34px','padding-left':'280px',color:color2,'font-size':'28px','font-family':fontFamily}">{{str2}}</div> 
							</div>
							<!-- logo图片区域 -->
							<div v-drag style="cursor:move;position: absolute;width: 230px;height:155px;top:-55px;">
								
								<div class="center-block size" :style="{'line-height':'155px',width: '230px',height:'155px','background-image': 'url('+ logo +') ','background-size':'145px 145px','background-position':'center center','background-repeat':'no-repeat'}" ></div>
		
							</div>
							<!-- 滚动字幕区域 -->
							<div style="line-height: 55px; font-size: 36px;position: absolute;top:93px;height: 55px;width: 100%;">
							</div>
		
						</div>		
		
			        </div>
		</div> 
		<!-- logo -->
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <h3 class="panel-title">
		           选择logo (230 x 93/px)  类型: {{ logoType }}
		           	<div class="pull-right">
		                <span class="btn label label-success"  @click="defaultType = 1">赛车</span>
						<span class="btn label label-warning"  @click="defaultType = 2">婚庆</span>
						<span class="btn label label-danger"  @click="defaultType = 3">足球</span>
						<!-- <span class="btn label label-success"  @click="">会议</span>
						<span class="btn label label-info"     @click="">民俗</span>
						<span class="btn label label-warning"  @click="">赛车</span>
						<span class="btn label label-danger"   @click="">公司</span> -->
					</div>
		        </h3>

		    </div>
		    <div class="panel-body">

		        <div class="row">

				  <div class="col-md-2" v-for="(item,index) in filterlogoData" :key="item.id" style="cursor:pointer;">
				  <span :style="{color: active === item.id?'red':''}">{{ index + 1 }}</span> 
					<img class="img-responsive center-block" :src="item.imgPath"  width="50" height="50"
						@click = "active = item.id;logo = item.imgPath "> 
				  </div>

				</div>
		    </div>
		</div>
		<!-- 字幕 -->
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <h3 class="panel-title">
		           选择字幕排版
		        </h3>
		    </div>
		    <div class="panel-body">

		        <div class="row">
					  <div class="col-md-2" v-for="n in 3" style="cursor:pointer;" >
					 	 <span :style="{color:n === zimuStyle?'red':''}" @click = "zimuStyle = n">字幕风格{{ n }}</span> 
					  </div>
				</div>
		    </div>
		</div>
		<!-- controller -->
		<div class="panel panel-default" >
		  <div class="panel-heading">控制台 </div>
		  <div class="panel-body">
		  <textarea class="form-control" rows="1" v-model="str" :value="str"></textarea><br>
		  <textarea class="form-control" rows="1" v-model="str2" :value="str2"></textarea>

		    <form id="form" name="form" class="form-inline" method="post"><br>

		        <div class="form-group col-xs-12 col-sm-5 col-md-5 col-lg-5">

		       	 	<div class="input-group">
			            <div class="input-group-addon"> 标题字色</div>
			            <input type="text" @change="function(e) {color = '#' + e.target.value.toString()}" :value="color"  class="form-control jscolor" style="width: 80px;">
		          	</div>

		          	<div class="input-group">
			            <div class="input-group-addon"> 副标题字色</div>
			            <input type="text" @change="function(e) {color2 = '#' + e.target.value.toString()}" :value="color2" v-model="color2" class="form-control jscolor" style="width: 80px;">
		          	</div>

		        </div>

		         <div class="form-group col-xs-12 col-sm-3 col-md-3 col-lg-3">

		       	 	<div class="input-group">
			            <div class="input-group-addon">风格</div>
			          
			            <select v-model="fontFamily"  class="form-control">

						  <option v-for="it in fontFamilys" :value="it.text">
						    {{ it.value }}
						  </option>

						</select>
		          	</div>

		        </div>   

		        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
		          <div class="btn-group pull-right">

		            <button type="button" class="btn myBtn submit" @click="createCanvs">点击生成</button>
		           
		          </div>  
		        </div>

	      	</div>
		    </form>
	  </div>
	</div>
	</div>

	</script>
	
 	
 	<script type="text/javascript" src="js/vue.min.js"></script>
	<!-- html2canvas将Dom节点在Canvas里边画出来 -->
	<script src="./js/html2canvas.min.js"></script>
	<!-- 将canvas图片保存成图片 -->
	<script src="./js/canvas2image.js"></script>
	<!-- 生成hash -->
	<script src="./js/base64.js"></script>
	<script src="js/jscolor.min.js"></script>
	<script src="./js/axios.js"></script>
	<script src="./js/mock-min.js"></script>
	<script src="js/webfontloader.js"></script>
	<script>
	  WebFont.load({
	    custom: {
       	    families: ['myFontstyle1','myFontstyle2'],
        	urls : ['./css/font.css']  //字体声明处，页面不需要引入该样式
      	},
	  });

	  var api = axios.create();
		api.defaults.baseURL = 'http://api.com';
		api.defaults.timeout = 5000;
		api.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
		api.defaults.headers.post['X-Requested-With'] = 'XMLHttpRequest'
		var Random = Mock.Random

		var index = Mock.mock('http://api.com/index', {
			'Home': {
				'list|5': [{
					'type|+1': [1,2,3],
					'imgPath': Random.image('200x200Logo', '#b7ddf2', '#333', 'png', ''),
					'id': '@id'
				}],
				'list2|5': [{
					'type|+1': [1,2,3],
					'imgPath': Random.image('300x300Logo', '#9954bb', '#333', 'png', ''),
					'id': '@id'
				}],
			},
		});
		Vue.prototype.$api = api;
		
		 //自定义指令
	  	Vue.directive('drag',//自定义指令                                     
	        {
	        	bind:function (el, binding) {
	        		
	                var oDiv = el;   //当前元素
	                var self = this;  //上下文
	               	              
	                oDiv.onmousedown = function (e) {
	                 //鼠标按下，计算当前元素距离可视区的距离
	                    var disX = e.clientX - oDiv.offsetLeft;
	                    var disY = e.clientY - oDiv.offsetTop;

	                    document.onmousemove = function (e) {
	                      //通过事件委托，计算移动的距离 
	                        var l = e.clientX - disX;
	                        var t = e.clientY - disY;
	                      //移动当前元素  
	                        oDiv.style.left = l + 'px';
	                        oDiv.style.top = t + 'px';
	                         //将此时的位置传出去
	                     //   binding.value({x:e.pageX,y:e.pageY})
	                    };
	                    document.onmouseup = function (e) {
	                    
	                        document.onmousemove = null;
	                        document.onmouseup = null;
	                        
	                     };
	                }
	            }
	        }
	    );

		var srcFilter = function (value) {
				    if (!value) return ''
				    return './images/'+value+'.png'
				  }

		Vue.component('demo-app', {
			  template: '#app-template',
			  data:function(){
				  	return {
				  		// 扁平化
				  		// id  type  name  url   
				  		// ajax url 
					  	  defaultType:1,//logo类型： 1.体育 2.婚庆 
					  	  logo: './images/1.png',//logo服务器地址
						  active: 1,//当前logo样式
					  	  logoData:[],
					      color: '#fff',
					      color2: '#000',
					      logoNum: 6,
					      fontFamily:'myFontstyle1',
					      fontFamilys: [
						      { text: 'myFontstyle1', value: '锐字荣光黑简' },
						      { text: 'myFontstyle2', value: '方正粗楷简体' },
						  ],
					      selected: '小型',
						  zimu: 'defaueltZimu',
						  str: '字幕标题',
						  str2: '字幕副标题',
						  zimuStyle:1,
				  }
			  },
		  	  created:function() {
			    this.$api({
			      method: 'post',
			      url: '/index'
			    }).then(function(response)  {

			      this.logoData = 
			      response.data.Home.list.concat(response.data.Home.list2).sort(function(){
			      	return Math.random() > 0.5
			      });
			      console.log( 'created data:',this.logoData)

			    }.bind(this)).catch(function(error) {
			      	alert(error)
			    })
			  },
			  computed:{
			  		filterlogoData : function () {
			  			if(this.logoData){
			  				return this.logoData.filter(function(item){
			  							return item.type === this.defaultType
			  				}.bind(this));
			  			}
			  			
			  		},
			  		logoType:function () {
			  			switch (this.defaultType) {
			  				case 1:
			  					return '赛车'
			  					break;
			  				case 2:
			  					return '婚礼'
			  					break;
			  				case 3:
			  					return '足球'
			  					break;
			  			}
			  			
			  		},
			  },
			  methods:{
			  	createCanvs:function(){
					    var shareContent = document.getElementById('content');//
					    var opts = {
					    	backgroundColor: null,
					    	allowTaint: true,
					        useCORS: true // 【重要】开启跨域配置
					    };
					    var self = this
						var convertFn = function(Canvas2Image) {
							
							return function(canvas) {
								console.log('width',canvas.width,canvas.height)
								
								removeChlidernNode()
								var img = Canvas2Image.convertToImage(canvas, canvas.width, canvas.height);
								console.log(img)
								img.setAttribute('id','canvesId')
							    self.$refs.canvasImg.appendChild(img);
							}
						}
						html2canvas(shareContent, opts).then(convertFn(Canvas2Image))
						
					    wait(1000).then(function(){savePng()})
			  	}
			  },
			  filters:{
			  	srcFilter: srcFilter
			  },
			  watch: {
			  	str:function (val, oldVal) {
			     	removeChlidernNode();
			    },
			    logo: function(val, oldVal) {
			    	 console.log(val, oldVal)
			    }
			  }
		});

		var demo = new Vue({
		  el: '#root',
		})
	 //返回一个promise
	function wait(duration){
	    return new Promise(function(resolve, reject) {
	        setTimeout(resolve,duration);
	    })
	}
	/*
	 * 说明
	 * 不支持跨域图片
	 * 不能在浏览器插件中使用
	 * 部分浏览器上不支持SVG图片
	 * 不支持Flash
	 */
	function removeChlidernNode(){
 		var parentNode = document.getElementById('images')
 			if(parentNode.hasChildNodes()){
				parentNode.removeChild(document.getElementById('canvesId'));
			}
 	}

 	function savePng(){
		var canvasObj = document.getElementById("canvesId");

		/*自动保存为png*/
		// 获取图片资源
		 Canvas2Image.saveAsPNG(canvasObj, canvasObj.width, canvasObj.height)

	}


</script>
</body>
</html>